{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="card-img-top" src="{{ product.preview | media_filter }}" alt="Card image cap">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mb-3">

                    <div class="card-body" title="{{ product.depiction }}">
                        <div class="text-bg-light p-3">
                            <p class="card-text"> Наименование: {{ product.name }}</p>
                            <p class="card-text">Описание: {{ product.depiction }}</p>
                            <p class="card-text">Цена: {{ product.price_buy }} руб.</p>
                            <p class="card-text">Раздел: {{ product.category }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                        </div>
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-primary" href="{% url 'catalog:product_list' %}"
                               role="button">Вернутся назад</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
