{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    {% if object.preview %}
                    <img class="card-img-top" src="{{ object.preview|media_filter }}"
                         style="max-width: 600px; max-height: 400px">
                    {% else %}
                    <img src="{% static 'images/product_by_default.jpeg' %}"
                         style="max-width: 600px; max-height: 400px">
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm mb-3">

                    <div class="card-body" title="{{ product.depiction }}">
                        <div class="text-bg-light p-3">
                            <p class="card-text"> Наименование: {{ object.name }}</p>
                            <p class="card-text">Описание: {{ object.depiction }}</p>
                            <p class="card-text">Цена: {{ object.price_buy }} руб.</p>
                            <p class="card-text">Раздел: {{ object.category }}</p>
                            {% for version in object.versions.all %}
                            {% if version.version_active %}
                                <p class="card-text">Название версии: {{version.version_name}}</p>
                                <p class="card-text">Версия №: {{version.version_number}}</p>
                            {% endif %}
                            {% endfor %}
                            <div class="d-flex justify-content-between align-items-center">
                            </div>

                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-primary" href="{% url 'catalog:product_list' %}"
                                   role="button">Вернутся назад</a>
                                {% if object.owner == user %}
                                    <a class="btn btn-primary" href="{% url 'catalog:product_update' object.pk %}"
                                       role="button">Изменить</a>
                                    <a class="btn btn-primary" href="{% url 'catalog:product_delete' object.pk %}"
                                       role="button">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
