{% extends 'catalog/base.html' %}
{% load my_tags %}
{% load static %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col">
                <div class="card shadow-sm" title="{{ object.depiction | truncatechars:100 }}">
                    {% if object.preview %}
                    <img class="card-img-top" src="{{ object.preview|media_filter }}"
                         style="max-width: 600px; max-height: 400px">
                    {% else %}
                    <img src="{% static 'images/product_by_default.jpeg' %}"
                         style="max-width: 600px; max-height: 400px">
                    {% endif %}
                </div>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">{{ object.name }}</p>
                        <p class="card-text">{{ object.price_buy }} руб.</p>
                        {% for version in object.versions.all %}
                        {% if version.version_active %}
                            <p class="card-text">Название версии: {{version.version_name}}</p>
                            <p class="card-text">Версия №: {{version.version_number}}</p>
                            {% if object.owner == user %}
                                <p class="card-text">Собственный продукт</p>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk %}"
                                   role="button">Посмотреть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
